## Check if the sentence is Grammatically correct:
Please use any pre-trained model or use text from open datasets. Once done, please evaluate the English Grammar in the text column of the below dataset.

### Importing Libraries

In [11]:
from transformers import AutoTokenizer, AutoModelForSequenceClassification, pipeline
import pandas as pd
import matplotlib.pyplot as plt

### Importing Dataset

In [12]:
df = pd.read_csv('review_data.csv')
df.head()

                                                text  ...  reviewDate
0                                    Anathi Khanyile  ...    18/03/21
1  Tony bahut funny hai Hill climbing racing my f...  ...    18/03/21
2                                            Teturwu  ...    18/03/21
3  Hoooooooooooyaaaaaaaaa what a game hoooooooooo...  ...    18/03/21
4                                  This game is nice  ...    18/03/21

[5 rows x 4 columns]

In [13]:
df.shape

(30000, 4)

In [199]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   text        30000 non-null  object
 1   star        30000 non-null  int64
 2   app_id      30000 non-null  object
 3   reviewDate  30000 non-null  object
 4   grammar     30000 non-null  int64
dtypes: int64(2), object(3)
memory usage: 1.1+ MB

In [188]:
X = df.text
X.fillna('no comments', inpalce=True)
X

C:\Users\ramas\AppData\Local\Temp\ipykernel_14524\3380405846.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X[14781] = 'no comments'

0                                          Anathi Khanyile
1        Tony bahut funny hai Hill climbing racing my f...
2                                                  Teturwu
3        Hoooooooooooyaaaaaaaaa what a game hoooooooooo...
4                                        This game is nice
                               ...
29995                                   Plz my Vidos viral
29996                                                 Nice
29997                    Disturbing too much as YouTube ad
29998                                        Koub valo vai
29999                            I want to grow my account
Name: text, Length: 30000, dtype: object

### Downloading Pre-trained model

In [177]:
tokenizer = AutoTokenizer.from_pretrained("Vaibhavbrkn/grammer_classiffication")
model = AutoModelForSequenceClassification.from_pretrained("Vaibhavbrkn/grammer_classiffication")

In [178]:
grammar_checker = pipeline('text-classification', model = model, tokenizer=tokenizer)

### Processing the text column

In [191]:
grammar = []
for i in range(len(df)):
    if grammar_checker(X[i])[0]['label'] == 'LABEL_1':
        grammar.append(1)
    else:
        grammar.append(0)

In [193]:
df['grammar'] = grammar
df.head()

                                                text  star  ... reviewDate grammar
0                                    Anathi Khanyile     5  ...   18/03/21       1
1  Tony bahut funny hai Hill climbing racing my f...     5  ...   18/03/21       1
2                                            Teturwu     1  ...   18/03/21       1
3  Hoooooooooooyaaaaaaaaa what a game hoooooooooo...     5  ...   18/03/21       0
4                                  This game is nice     5  ...   18/03/21       1

[5 rows x 5 columns]

In [194]:
# Number of correct texts
df.grammar.value_counts()

1    18708
0    11292
Name: grammar, dtype: int64

In [196]:
# Proportion of correct texts
df.grammar.value_counts()/len(df)

1    0.6236
0    0.3764
Name: grammar, dtype: float64